/* common classes */
/*.list .slide {margin: 0 -640px -340px 0; transform: scale(0.4)}*/

/* common classes */
.aligncenter {text-align: center;}
.alignleft {float: left; }
.alignright {float: right;}
.clear {float: none; clear: both;}

/* fixes */
.slide.no-ribbon:after {visibility: hidden;}

/* typography */
.slide.shout h2{font-size: 60px}
.shout p {position: absolute; top: 60%; left: 0; width: 100%; text-align: center; color: #777}

/*blockquote {font-size: 35px;} */
.slide li{padding-bottom: 35px}

.slide pre br {display: block; margin: 25px 0;content: " ";}

section.bigger pre code{font-size: 120%}

/* colors */
.slide:after {background: url(pictures/ribbon.svg) no-repeat}
.full .progress div {border-bottom-color: #006600}

/*00a800}*/

/*figcaption {color: #444}
.full .progress {overflow: hidden;}*/

/*syntax highlighter fix*/
/*pre code.hljs  span.hljs-title {color: #843819 !important; }*/
